#leftBox {
	float:left;
	width: 300px;
	height: 250px;
	margin: 5px;
	border: 3px solid red;
}

#rightBox {
	float:left;
	width: 300px;
	height: 250px;
	margin: 5px;
	border: 3px solid black;
}

#shark {
	max-height: 200px;
}